body { margin: 0; background: #333; }
header { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
header div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
header div img { 
  width: 100%; 
  max-width: 400px;
  height: auto; 
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }
  
}

.comfort-mergin {
  margin: 1rem;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-rigth {
  text-align: right;
}

.timeline-image-center-alignment {
  max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

.notification {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: #fff;
    padding: 2px 2px;
    margin: 5px;
}